# Render PostgreSQL connection string
DATABASE_URL=postgresql://sidepitcher_db_user:AQViKeObhD6Ac9e4oX6i08QKhedn79RG@dpg-d6h23e15pdvs73e0ccr0-a/sidepitcher_db

# Optional: set to disable SSL only for trusted local databases
# PGSSLMODE=disable
