@import "tailwindcss";

@theme {
  --font-sans: "Geist", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-neutral-950 text-gray-400 text-base md:text-lg leading-relaxed;
  font-family: var(--font-sans);
  max-width: 100%;
  overflow-x: hidden;

  h1{
    @apply leading-[0.95] font-bold tracking-[-0.03em] text-xl md:text-2xl;
  }

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  input:not([type="checkbox"]):not([type="radio"]):not([type="file"]),
  select,
  textarea {
    @apply text-sm text-gray-400;
    @apply transition-colors duration-150;
    @apply placeholder:text-gray-400;
    @apply disabled:cursor-not-allowed disabled:opacity-60;
    @apply dark:text-gray-100 dark:placeholder:text-gray-500;
  }
  label {
    @apply text-base md:text-lg text-white font-semibold select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50 gap-2;
  }
}
